                                #ASSIGNMENT_1 OF PYTHON

1.  In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
'hello'
-87.8
- 
/ 
+	
6

In [7]:
print(type('hello'))  #it is a value beause its type is string
print(type(-87.8))  #it is a value because its type is float
print(type(6))  #it is a value because its type is integer

<class 'str'>
<class 'float'>
<class 'int'>

- # it is an expression because it is a mathematical operator
/ #it is an expression because it is a mathematical operator
+ #it is an expression because it is a mathematical operator

2. What is the difference between string and variable?
a) Variable is a symbol that you can use to store data in program. Simply it is a memory allocation to a data while writing  the program. While
b) string is a data type in which generally text character is ued . When a variable is assigned with double or single inverted commas then that variable becomes a string. for ex:- name = "raonish" ,here name is a variable while raonish is string data type.

3. Describe three different data types.
There are many types of data types. Some of them are :-
a) string (str)
b) int (integer)
c)float 
d) bool
e)list
f)tuple
g)dict
h)complex.
         STRING(str)
String is a data type in which variable is assigned between inverted commas.
for example , A='ineuron' ,b="123" .
     INT
int is a data type in which a variable is assigned using integer (0 to 9). For example :-
A= 12, b=12334.
    LIST
List is a data type in which a variable is assigned using square bracket[].For example :-
A= [1,2,3], b= [ 'rao',1,2,3]

4.What is an expression made up of? What do all expressions do?
An expression is made up of values ,vriables ,operators,and calls to function.
All expressions is evaluated by interpreter and displays the result.For example:-
a=5 
b=10
    
c=a+b
print(c) #here c is an expression using the add operator

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression can be defined as any element in our utility that evaluates some values. An expression evaluates a value.



Statements represent a motion or command e.g print statements, mission statements. Expressions need to be evaluated.

An expression is any series of symbols that represents a value. For example, 2.9, a + 5, (3 + 5) / 4

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [11]:
bacon = 22
bacon +1

23

In [12]:
bacon # variable bacon contains 22

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [13]:
'spam' + 'spamspam' # two string is added

'spamspamspam'

In [16]:
'spam'*3  # it will print spam three times

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
While assigning a variable name ,there is a certain rule which have to  follow.they are:-
a) variable can start with alphabets and underscore.
b) variable cannot start with numerical values
hence eggs is a valid variable name while 100 is invalid.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
The three functions are used to get the integer ,floating-point number ,or string are:-
a) int() for integer
b) str() for string
c) float() for floating-point number

In [17]:
a= int(12)
b= float(12)
c= str(12)
print(a,b,c)

12 12.0 12

In [18]:
type(a) #type is int

int

In [19]:
type(b)# type is float

float

In [20]:
type(c) #type is str

str

 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
This expression cause an error because collaborating an string with integer.This can be fixed by data type casting converting int 99 into string data type

In [21]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'